.container-apartar {
    margin: 0 10%;
    background-image: url(./Index\ \(p-1\)/fondo-cita.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.overlay-apartar {
    background-color: rgb(0 152 255 / 30%);
    width: 70vw;
    height: 85vh;
    border-radius: 2.5rem;
    margin: 2%;
}
.hierbaapa {
    margin-top: -6%;
}
#Solicitud-ti {
    font-family: "Sue Ellen Francisco", sans-serif;
    color: rgb(15, 18, 199);
    font-size: 60px;
    font-weight: 400;
    margin-top: -60%;
    margin-left: 4%;
}
#apartar-cita {
    margin: 2% 4%;
    display: flex;
    flex-direction: column;
    width: 50%;
}
input, #motivos {
    border: none;            /* Elimina los bordes */
    outline: none;           /* Elimina el borde de enfoque (al hacer clic) */ 
    box-shadow: none;        /* Remueve sombras */
    -webkit-appearance: none; /* Elimina estilos específicos de navegadores WebKit (como Safari y Chrome) */
    -moz-appearance: none;    /* Elimina estilos específicos de navegadores basados en Gecko (como Firefox) */
    appearance: none;       
    box-sizing: border-box; 
    width: 40%;
    height: 4vh;
    margin: 2% 0;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(197, 20, 138) solid;
    padding: 1%;
}
label {
    display: flex;
    flex-direction: column;
    color: rgb(38, 16, 233);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.izq {
    position: relative;
    margin-top: -12.4%;
    left: 46%;
}
#especie, #genero, #hora {
    margin: 2% 0;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(197, 20, 138) solid;
    height: 4vh;
}
.nombre-mas {
    position: relative;
    margin-top: -12.5%;
    left: 46%;
}
#genero {
    width: 40%;
}
#motivos {
    width: 100%;
}
.edad {
    position: relative;
    margin-top: -12%;
    left: 46%;
}
.hora {
    position: relative;
    margin-top: -12%;
    left: 46%;
}
.cerrar {
    color: red;
    position: relative;
    top: -85%;
    left: 85%;
    font-size: 50px;
}
.iniciar-seccion {
    cursor: pointer;
    width: 40%;
    background-color: #DD094F;
    padding: 2%;
    border-radius: 10px;
    margin: 3% 0%;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container-urgencia {
    margin: 0 11%;
    background-image: url(./Index\ \(p-1\)/urgencia.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -2%;
    height: 95vh;
}
.overlay-urgencia {
    background-color: rgba(6, 79, 128, 0.575);
    width: 60vw;
    height: 75vh;
    border-radius: 1.5rem;
    margin: 3%;
    margin-top: 4%;
}
#urgencia {
    position: relative;
    margin-top: -55%;
    font-family: "Sue Ellen Francisco", sans-serif;
    color: #e92b1e;
    font-size: 40px;
    left: -33%;
}
#urgencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#motivo {
    position: relative;
    right: 28%;
}
.text-form {
    color: white;
}
#motivos-ur {
    border: none;            
    outline: none;            
    box-shadow: none;       
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;       
    box-sizing: border-box; 
    width: 130%;
    height: 5vh;
    margin: 2% 0;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(197, 20, 138) solid;
    padding: 1%;
}
.nombre {
    position: relative;
    margin-top: -6%;
}
.ur {
    border: none;            
    outline: none;          
    box-shadow: none;        
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;       
    box-sizing: border-box; 
    width: 200%;
    height: 5.3vh;
    margin: 2% 0;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(197, 20, 138) solid;
    padding: 1%;
}
.telefono {
    position: relative;
    left: -32.6%;
    margin-top: 2%;
}
#telefono-u {
    width: 227%;
    height: 5vh;
}
#especie-u {
    position: relative;
    margin-top: -5.2%;
    left: 1%;
}
#especie-ur {
    margin: 2% 0;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(197, 20, 138) solid;
    height: 5vh;
    width: 171%;
}
.atencion {
    position: relative;
    left: -31%;
    margin-top: 1%;
}
.atencio {
    margin: 2% 0;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(197, 20, 138) solid;
    height: 5vh;
    width: 181%;
}
.genero {
    position: relative;
    margin-top: -5.3%;
    left: -3%;
}
.ambulancia {
    position: relative;
    margin-top: 1%;
    left: -31%;
}
#close-ur {
    position: absolute;
    color: red;
    font-size: 40px;
    top: 15%;
    left: 69%;
    font-family: "Sue Ellen Francisco", sans-serif;
}
.urg {
    position: relative;
    left: -25.2%;
    width: 26%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
    #Solicitud-ti {
    font-family: "Sue Ellen Francisco", sans-serif;
    color: rgb(15, 18, 199);
    font-size: 60px;
    font-weight: 400;
    margin-top: -166%;
    margin-left: 4%;
    }
    .overlay-apartar {
        width: 77vw;
    }
    .izq {
        margin-top: -25.4%;
        left: 59%;
    }
    .nombre-mas {
        margin-top: 0.5%;
        left: 1%;
    }
    .edad {
        margin-top: -25.12%;
        left: 46%;
    }
    .hora {
        margin-top: -26%;
        left: 46%;
    }
    .container-apartar {
        height: 86vh;
    }
    .cerrar {
        top: -98%;
    }
    .iniciar-seccion {
        height: 4vh;
        margin: 12% 0%;
    }
    .container-urgencia {
        margin: 0 4%;
        margin-top: -2%;
        height: 90vh;
    }
    .overlay-urgencia {
        width: 86vw;
        height: 82vh;
        margin-top: 4%;
    }
    #urgencia {
        margin-top: -98%;
    }
    #motivo {
        right: 23%;
    }
    .nombre {
        margin-top: 0%;
        left: -31%;
    }
    .telefono {
        left: -31.6%;
    }
    #especie-u {
        margin-top: 0.8%;
        left: -29%;
    }
    .atencion {
        left: -29%;
        margin-top: 1%;
    }
    .genero {
        margin-top: 0.7%;
        left: -37%;
    }
    .ambulancia {
        margin-top: 1%;
        left: -29%;
    }
    .atencio {
        width: 169%;
    }
    #solicitar {
        left: -30%;
        margin-top: 5%;
    }
    #close-ur {
        font-size: 52px;
        top: 9%;
        left: 82%;
    }
}
@media (min-width: 393px) and (max-width: 769px)  {
    .container-apartar {
    margin: 0px 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    }
    .overlay-apartar {
        width: 96vw;
    }
    #Solicitud-ti {
        margin-top: -211%;
    }
    input {
        width: 100%;
    }
    .izq {
        position: relative;
        margin-top: 0.6%;
        left: 0%;
    }
    #motivos {
        width: 130%;
        height: 7vh;
    }
    .nombre-mas {
        position: relative;
        margin-top: 3.5%;
        left: 0%;
    }
    .edad {
        position: relative;
        margin-top: -34%;
        left: 53%;
    }
    #edad {
        color: white;
    }
    .hora {
        position: relative;
        margin-top: -33%;
        left: 108%;
        margin-bottom: 20%;
    }
    .horita {
        color: white;
    }
}
