.titulo {
    height: 20vh;
    margin: 0 10%;
}

.title {
    background-color: rgba(221, 9, 79, 0.78);
    width: 25%;
    height: 13.8vh;
    color: white;
    font-family: "Sue Ellen Francisco",sans-serif;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #A96109 1px solid;
    border-radius: 5px;
}
.valla {
    z-index: 100;
    width: 20%;
    margin-top: 2.7%;
}

.perroAndTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 5.2%;
}

.hierba {
    width: 30%;
    height: 5%;
    position: absolute;
    top: 63%;
    z-index: 90;
}
.ece {
    width: 30%;
    height: 5%;
    position: absolute;
    right: 10%;
}
.flyer {
    margin: 3% 10%;
}
.flyerImg {
    width: 100%;
    height: 60%;
}
.citasT {
    position: relative;
    z-index: 67;
}
.apartar {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.fushiaDeco {
    background-color: rgba(221, 9, 79, 0.67);
    height: 8vh;
    width: 90%;
    border-radius: 15px;
}
.agendar-cita {
    color: blue;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 5%;
}
.apartar-citaS {
    background-color: white;
    padding: 2% 3%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    gap: 10%;
}
.citarPic {
    border-radius: 7%;
    position: relative;
    z-index: 76;
    top: -9%;
    left: 5%;
}
.text-citar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleC {
    font-family: "Sue Ellen Francisco", sans-serif;
    font-size: 40px;
    color: #DD094F;
}
.citatext {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    font-size: 25px;
}
.ambulancia {
    flex-direction: row-reverse;
}
.hierbaCI {
    margin: 0 10%;
}
#herci {
    margin-top: 0%;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .flyer {
        margin: -5% 1%;
    }
    .apartar {
        margin: 0 1%;
        gap: 264px;
    }
    .fushiaDeco {
        height: 4vh;
        width: 103%;
    }
    .citarPic {
        width: 400%;
    }
    .titleC {
        font-size: 31px;
        position: relative;
        left: 5%;
    }
    .citatext {
        line-height: 20px;
        width: 50%;
        position: relative;
        left: 17%;
    }
    .apartar-citaS {
        margin-top: 16%;
        padding: 2% 3%;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        gap: 10%;
    }
    .agendar-cita {
        position: relative;
        left: 33%;
    }
    #urgencias {
        margin-top: -29%;
    }
    #right {
        position: relative;
        right: 32%; 
    }
    #left {
        position: relative;
        right: 37%;
        margin-top: 3%;
    }
    #img-r {
        position: relative;
        right: 40%;
        margin-top: 3%; 
    }
    .hierbaCI {
        margin: 2% 0 0;
    }
    #herci {
        margin-top: 4%;
    }
    .citatext {
        font-size: 16px;
    }
    #cita {
        margin-top: 4.5%;
    }
}
