.inicio-crear {
    margin: 0 10%;
}
.entrar-crear {
    background-image: url(./Index\ \(p-1\)/kitty.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120vh;
    margin-top: -2%;
}
#gras-fo-cre {
    margin-top: -16%;
}
.overlay-crear {
    background-color: rgb(0 152 255 / 30%);
    width: 54vw;
    height: 100vh;
    position: relative;
    margin-top: -70%;
    border-radius: 2.5rem;
    margin-bottom: 22%;
    margin-left: 1%;
}
.container-crear {
    background-color: rgb(12 128 89 / 76%);
    padding: 6px;
    border-radius: 2.5rem;
    width: 50vw;
    position: absolute;
    top: 19%;
    right: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    height: auto;
    padding-left: 2%;
}
#tipo_id, #especie, #genero, #edad, #primera_vez {
    width: 91%;
    padding: 5% 3%;
    margin: 2% 0;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(197, 20, 138) solid;
    height: 5vh;
}
#email, #telefono, #codigo {
    appearance: none;
    box-sizing: border-box;
    width: 106%;
    padding: 5% 3%;
    margin: 2% 0;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(197, 20, 138) solid;
    height: 5vh;
}
#nombre-c {
    position: relative;
    right: 80%;
}
#no-id {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 86%;
    margin-top: -20.5%;
}
#no_id {
    height: 5vh;
}
#id {
    position: relative;
    left: 33%;
    display: flex;
    flex-direction: column;
    margin-top: -23%;
}
#email-c {
    position: relative;
    margin-top: 5%;
    right: 96%;
}
#email {
    width: 178%;
    height: 5vh;
}
#nombre {
    height: 5vh;
}
#telefono-c {
    position: relative;
    margin-top: -24%;
    right: -65%;
}
#ubicacion-c {
    position: relative;
    margin-top: 2%;
    right: 91%;
}
#ubicacion {
    width: 155%;
    height: 5vh;
}
#especie-c {
    position: relative;
    right: 83%;
    margin-top: 4%;
}
#especie {
    width: 128%;
}
#nombre-m {
    position: relative;
    margin-top: -22%;
    left: 69%;
}
#nombre_mascota {
    width: 98%;
    height: 5vh;
}
#genero-c {
    margin-top: 3%;
    position: relative;
    right: 101%;
}
#edad-c {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -21%;
    left: -41%;
}
#edad {
    width: 104%;;
}
#primera-c {
    position: relative;
    margin-top: -21%;
    left: 34%;
    display: flex;
    flex-direction: column;
}
#codigo-c {
    position: relative;
    margin-top: -20.5%;
    left: 101%;
}
#codigo {
    width: 67%;
    margin-top: 0.5%;
}
#check {
    margin: 8%;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .entrar-crear {
        background-position: right;
        width: 127%;
        margin-left: -14%;
    }
    .container-crear {
        background-color: rgb(12 128 89 / 76%);
        border-radius: 2.5rem;
        width: 78vw;
        position: inherit;
        margin-top: -207%;
        margin-bottom: 20%;
        padding-bottom: 8%;
    }
    .overlay-crear {
        display: none;
    }
    input[type="text"], input[type="password"] {
        width: 80%;
        padding: 5% 3%;
        margin: 2% 0;
    }
    #nombre-c {
        position: relative;
        right: 36%;
    }
    #id {
        left: 20%;
        margin-top: -25%;
    }
    #no-id {
        left: 60%;
        margin-top: -24.5%;
    }
    #email-c {
        margin-top: 5%;
        right: 52%;
    }
    #email {
        width: 122%;
    }
    #telefono-c {
        margin-top: -25%;
        right: -51%;
    }
    #telefono{
        width: 74%;
    }
    #ubicacion-c {
        margin-top: 2%;
        right: 48%;
    }
    #ubicacion {
        width: 108%;
    }
    #especie-c {
        right: -49%;
        margin-top: -26%;
    }
    #especie {
        width: 78%;
    }
    #nombre-m {
        margin-top: 3%;
        left: -33%;
    }
    #nombre_mascota {
        width: 76%;
    }
    #genero-c {
        margin-top: 3%;
        position: relative;
        right: -30%;
    }
    #edad-c {
        margin-top: -53%;
        left: 27%;
    }
    #edad {
        width: 58%;
    }
    #primera-c {
        margin-top: -24%;
        left: 57%;
    }
    #codigo-c {
        position: relative;
        margin-top: 4.5%;
        left: -37%;
    }
    #genero {
        width: 137%;
    }
    #codigo {
        width: 83%;
    }
}