.descripcion-des {
    margin: 0 10%;
}
.ribbonDes {
    width: 30%;
    margin: 5% 0;
}
.container-des {
    background-color: white;
    border: #0FCDE7 2px dotted;
    border-radius: 20px;
    display: flex;
}
.dir-desc {
    color: #0A48A6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 3% 2%;
}
.co-des {
    background-color: #fff;
    border: 1px solid #1057C1;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5.5%;
    position: relative;
    right: 3%;
}
.pro-img {
    display: flex;
    position: relative;
}
.img-pro {
    width: 80%;
}
.titlePro {
    color: #0A48A6;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    font-size: 30px;
    font-weight: 500;
    margin: 2% 0;
}
.span-pro, .checkT {
    color: #083271b0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.recomendado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
span.span-pro {
    margin: 2% 0;
}
.check {
    width: 1%;
}
.medios {
    font-size: 12px;
    text-decoration: underline;
    color: #0f0871f8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
strong {
    font-family: 'Roboto', sans-serif;
}
.pesoytamano {
    display: flex;
    margin-top: 3%;
    gap: 20px;
}
.tamano {
    display: flex;
    gap: 20px;
}
.kg {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #1260d6f8;
    padding: 0.5%;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0.5%;
}
.razatamano {
    display: flex;
    margin-top: 2%;
    gap: 20px;
}