.descripcion-des {
    margin: 2% 10%;
}
.ribbonDes {
    width: 30%;
    margin: 5% 0;
}
.container-des {
    background-color: white;
    border: #0FCDE7 2px dotted;
    border-radius: 20px;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 3%;
}
.dir-desc {
    color: #0A48A6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 3% 2%;
    line-height: 20px;
}
.titlePro {
    color: #0A48A6;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    font-size: 30px;
    font-weight: 500;
    margin: 2% 0;
}
.pro-img {
    display: flex;
}
.img-pro {
    width: 75%;
}
.co-des {
    background-color: #fff;
    border: 1px solid #1057C1;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 2.5%;
    position: relative;
    right: 6%;
}
.izq {
    position: absolute;
    top: 77%;
    left: 39%;
    width: 50%;
}
.span-pro, .checkT {
    color: #083271b0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.medios {
    font-size: 12px;
    text-decoration: underline;
    color: #0f0871f8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.recomendado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.check {
    width: 1%;
}
.pesoytamano {
    display: flex;
    margin-top: 3%;
    gap: 20px;
}
.tamano {
    display: flex;
    gap: 20px;
}
.kg {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #1260d6f8;
    padding: 0.5%;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0.5%;
}
.razatamano {
    display: flex;
    margin-top: 2%;
    gap: 20px;
}
.caracteristicas {
    display: flex;
    flex-direction: column;
    width: auto;
    position: relative;
    left: 27%;
    margin-top: 7%;
}
.titleCarac {
    color: #002B6C;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin: 2% 0%;
}
.cadaUna {
    display: flex;
    gap: 10px;
    margin-top: 0.5%;
}
.checkgreen {
    width: 6%;
    opacity: 0.5;
}
.final {
    margin-bottom: 4%;
}
strong {
    font-family: 'Roboto', sans-serif;
}
.contadorThing {
    margin-top: 5%;
    margin-right: 19%;
}
.cosas-del-producto {
    display: flex;
    flex-direction: row;
}
.contador {
    display: flex;
    gap: 40px;
}
.cont {
    display: flex;
    gap: 40px;
}
.zero {
    width: 40px;
    height: 40px;
    border: 1px blue solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: -8%;
}
.cnt {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.canti {
    font-size: 22px;
}
#comprar {
    display: flex;
    justify-content: center;
    width: 35%;
    margin-top: 3%;
    background-color: #0a48a6;
    padding: 2%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border-radius: 22px;
    border: 1px solid #168bcd;
}
.des-title {
    font-family: 'Roboto', sans-serif;
    color: #1057c1;
    margin: 2% 5%;
}
.des-text {
    font-family: 'Roboto', sans-serif;
    margin: 1% 5%;
    width: 90%;
    text-align: justify;
    line-height: 24px;
}
.des-segundo-title {
    font-family: 'Roboto', sans-serif;
    color: #1057c1;
    margin: 0 5%;
}
.listafinal {
    margin: 1% 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.lista-f {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #051835;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .descripcion-des {
        margin: 2% 2%;
    }
    .co-des {
        margin-top: 5.5%;
        position: relative;
        right: 13%;
    }
    .titlePro {
        width: 94%;
        font-size: 25px;
        font-weight: 500;
    }
    .titlePro {
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        margin-top: -85%;
        position: relative;
        left: 18%;
    }

    .span-pro {
        position: relative;
        left: 18%;
    }
    .checkT {
        font-size: 15px;
        font-weight: 300;
        position: relative;
        left: 18%;
    }
    .medios {
        position: relative;
        left: 19%;
    }
    .tamano {
        position: relative;
        left: 18%;
    }
    strong {
        position: relative;
        left: 15%;
    }
    .canti {
        font-size: 20px;
        position: relative;
        left: 22%;
    }
    .cont {
        position: relative;
        left: 20%;
    }
    .contador {
        position: relative;
        margin-top: 9%;
    }
    #comprar {
        width: 55%;
        margin-top: 10%;
        font-size: 25px;
        position: relative;
        left: 20%;
    }
    .caracteristicas {
        display: flex;
        flex-direction: column;
        width: auto;
        position: relative;
        left: -58%;
        margin-top: 25%;
    }
    .caracteristicas {
        display: flex;
        flex-direction: column;
        width: auto;
        position: absolute;
        left: 47%;
        margin-top: 52%;
    }
    .img-pro {
        width: 75%;
        margin-left: -10%;
    }
    .cara {
        position: relative;
        left: 0%;
    }
}