.guarderia {
    margin: 0 10%
}
.blues {
    background-color: #29E1EB;
    width: 100%;
    height: auto;
    margin-top: 3.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.azulclarito {
    background-color: #EBFEFF;
    width: 90%;
    height: auto;
    margin: 1% 4%;
    border-radius: 15px;
}
.blanco {
    background-color: white;
    width: 89%;
    height: auto;
    margin: 1% 3%;
    border-radius: 15px;
}
.textguarderia {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: justify;
    font-weight: 300;
    line-height: 40px;
    padding: 5%;
}
.galeria {
    margin: 5% 10%;
    background-color: #E8FBFC;
}
.gale {
    margin-top: 3%;
    width: 20%;
}
.fila-fotos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 2%;
}
.tips {
    float: right;
    width: 20%;
    position: relative;
    top: 3%;
}
.titleTips {
    color: #1057C1;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 9%;
    font-family: "Sue Ellen Francisco",sans-serif;
    font-size: 40px;
    padding-top: 6%;
}
.myp {
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .guarderia {
        margin: 0%;
        margin-top: -12%;
    }
    .textguarderia {
        font-size: 17px;
        font-weight: 300;
        line-height: 28px;
    }
    .galeria .fila-fotos {
        flex-direction: column; /* Cambia la dirección de las filas a columnas */
    }

    .galeria .foto {
        margin: 5px 0; 
    }

    .galeria .fotos {
        width: 100%;  
        margin: 0 auto; 
    }
    #hierbagu {
        margin-top: 2%;
    }
    .gale {
        width: 35%;
    }
    .guarderia {
        margin-top: -0%;
    }
}