.entrar {
    background-image: url(./Index\ \(p-1\)/catdoggy.jpg);
    background-size: cover;
    background-position: right;
    width: 80%;
    height: 120vh;
    margin: 0 10%;
}
.inicio-entrar {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: -3%;
    justify-content: center;
    align-items: center;
}
#gras-fo {
    margin-top: -8%;
}
.overlay {
    background-color: rgba(0, 0, 255, 0.3);
    width: 54vw;
    height: 68vh;
    position: relative;
    margin-top: -52%;
    border-radius: 2.5rem;
    margin-bottom: 20%;
}
.container-inicio {
    background-color: rgb(12 82 128 / 76%);
    padding: 6px;
    border-radius: 2.5rem;
    width: 37vw;
    position: absolute;
    top: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.close-button {
    float: right;
    color: red;
    cursor: pointer;
    font-size: 40px;
    margin-left: 80%;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.iniciar-seccion {
    cursor: pointer;
    width: 100%;
    background-color: #DD094F;
    padding: 3%;
    border-radius: 3px;
    margin: 3% 0%;
}
.entrar-ti {
    font-family: "Sue Ellen Francisco",sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 400;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
b {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.letra {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 10px;
    margin-bottom: 3%;
}
.span {
    width: 70%;
    font-size: 10px
}