.titulo {
    height: 20vh;
    margin: 0 10%;
}

.title {
    background-color: rgba(221, 9, 79, 0.78);
    width: 25%;
    height: 13.8vh;
    color: white;
    font-family: "Sue Ellen Francisco",sans-serif;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #A96109 1px solid;
    border-radius: 5px;
}
.valla {
    z-index: 100;
    width: 20%;
    margin-top: 2.7%;
}

.perroAndTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 5.2%;
}

.hierba {
    width: 30%;
    height: 5%;
    position: absolute;
    top: 61%;
    z-index: 90;
}
.ece {
    width: 30%;
    height: 5%;
    position: absolute;
    right: 10%;
}
.perro {
    z-index: 80;
    width: 13%;
    position: absolute;
    top: 48.6%;
}
.main {
    background-color: rgba(197, 232, 243, 0.79);
    margin: 2% 10%;
    border-radius: 15px;
    margin-bottom: 2%;
}
.square {
    background-color: #EBFEFF;
    margin: 0 2%;
    border-radius: 15px;
}
.anotherS {
    background-color: rgba(255, 255, 255, 0.52);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5% 5%;
    border-radius: 15px;
}
.logo-showing {
    width: 50%;
}
.ourTeam {
    width: 30%;
}
.nombre {
    background-color: #92C90C;
    height: 5vh;
    color: #483B3B;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 1%;
    border-radius: 10px;
    z-index: 50;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 103%;
    margin-top: -15%;
}
.profesionalCard {
    border: #483B3B solid 1px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0 1%;
}
.descriP {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.722);
    margin: 3% 5%;
    text-align: justify;
}
.profe1 {
    width: 50%;
    margin: 5% 0;
}
.profesionales {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.arriba {
    margin-top: -5%;
}
.home {
    display: flex;
    justify-content: center;
}
.misionVision {
    margin: 2% 10%;
}
h3 {
    color: #3562F5;
    font-family: "Sue Ellen Francisco",sans-serif;
    font-weight: 800;
    font-size: 40px;
}
.articles {
    display: flex;
    margin: 2% 2% ;
    gap: 10%;
    background-color: rgba(197, 232, 243, 0.79);
    padding: 2%;
}
.greenDeco {
    background-color: #92C90C;
    width: auto;
    height: 9vh;
    border-radius: 15px;
    z-index: 10;
}
.historiaPic {
    position: relative;
    z-index: 30;
    top: -7%;
    right: -7%;
}
.mivihis {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}
.text-historia  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.titles {
    display: flex;
    justify-content: center;
}
.mision {
    flex-direction: row-reverse;
    margin-top: 3%;
}
.perroG {
    position: relative;
    left: -5%;
}
.hierbafooter {
    margin: 0 10%;
    position: relative;
    z-index: 45;
}
.cato {
    width: 5%;
    position: absolute;
    left: 12%;
    top: 360%;
}
