@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
button {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    color: inherit; /* Hereda el color del texto */
    font: inherit; /* Hereda la fuente */
    cursor: pointer; /* Cambia el cursor a pointer */
}

body {
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F1FDFF;
}

header {
    display: flex;
    justify-content: center;
}
.logo_social {
display: flex;
flex-direction: column;
}
img.logo {
    width: 80%;
    display: grid;
    align-self: center;
}
.inicio {
    background-color: #FBFBFB;
    color: #1057C1;
    width: 6vw;
    height: 6%;
    border-radius: 25px;
    border: 3px solid #0F0E0E;
    box-shadow: 0 4px 6px rgba(10, 72, 166, 0.5);
    font-size: 27px;
    font-family: "Sue Ellen Francisco",sans-serif;
    text-align: center;
    margin-top: 10%;
    text-align: center;
    margin-right: 5%;
}
.inicio:hover{
    background-color: #1057C1;
    color: #FBFBFB;
    transform: scale(1.1);
}
.carrito {
    width: 5%;
    height: 8vh;
    margin-top: 9.4%;
    margin-left: 5%;
    cursor: pointer;
}
.carrito:hover {
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

ul.social-icon {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 2%;
    margin-bottom: 4%;
}
li.youtube {
    margin-top: 0.5%;
}
img.icon {
    width: 70%;
    cursor: pointer;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-list {
    display: flex;
}
.rectangulo {
    width: 20vw;
    height: 6vh;
    background-color: #1057C1;
    border-left: 2px #F1FDFF solid;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px #4890fc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.rectangulo.one {
    border-left: none;
}
a.ini {
    color: aliceblue;
    font-family: "Sue Ellen Francisco";
    font-size: 29px;
}
.semicirculo {
    width: 9vw;
    height: 5vh;
    border-radius: 0 0 100% 100%;
    background-color: #135ed0;
    border: 2px solid #4890fc;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgba(255, 253, 253, 0.754);
    border-top: none;
}
.rectangulo:hover, .carpa.semicirculo:hover {
    background-color: #4890fc;
}
.carpa {
    display: flex;
    position: sticky;
    top: 6vh;
    z-index: 1001;
}
.slide-container {
    display: flex;
    justify-content: center;
    margin-top: -3%;
}
img.slide {
    width: 100%;
}

#quienes_somos {
    background-color: #FFF;
    margin-top: 6%;
}
img.figure_1 {
    margin-top: -3%;
}