.home {
    display: flex;
    justify-content: center;
}
.switcher_dog_cat {
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
    height: 6vh
}
.dogs{
    width: 10%;
    border: 2px solid #A96109;
    text-align: center;
    background-color:rgba(221, 9, 79, 0.78);
    color: white;
    font-family: "Sue Ellen Francisco",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.switch {
    border: 3px solid #44D3DC;
    width: 14%;
    border-radius: 50px;
    height: 6vh;
}
.littleCircle {
    background-color: #DD094F;
    width: 30%;
    height: 100%;
    border-radius: 50%;
}
.cats{
    width: 10%;
    border: 2px solid #09A979;
    text-align: center;
    background-color:rgba(12, 135, 2, 0.78);
    color: white;
    font-family: "Sue Ellen Francisco",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.container-info-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 20%;
    background-color: #FD5E9A;
    border: 2px solid #17CAF1;
    border-radius: 30px;
    padding-bottom: 2%;
}
.perros {
    width: 68%;
    display: flex;
    z-index: 20;
    margin-top: -10%;
}
.sub-container {
    background-color: #ffff;
    border-radius: 20px;
    margin: -0.5% 1%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-info-tienda, .text-tienda {
    font-family: 'Roboto', sans-serif;
    color: #013220;
}
.title-info-tienda {
    width: 75%;
    text-align: center;
    font-size: 30px;
}
.text-tienda {
    margin: 4% 0;
    font-size: 27px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}
.brands {
    display: flex;
}
.brand {
    width: 50%;
}