@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.home {
    display: flex;
    justify-content: center;
}
.switcher_dog_cat {
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
    height: 6vh
}
.dogs{
    width: 10%;
    border: 2px solid #A96109;
    text-align: center;
    background-color:rgba(221, 9, 79, 0.78);
    color: white;
    font-family: "Sue Ellen Francisco",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.switch {
    border: 3px solid #44D3DC;
    width: 14%;
    border-radius: 50px;
    height: 6vh;
}
.littleCircle {
    background-color: #DD094F;
    width: 30%;
    height: 100%;
    border-radius: 50%;
}
.cats{
    width: 10%;
    border: 2px solid #09A979;
    text-align: center;
    background-color:rgba(12, 135, 2, 0.78);
    color: white;
    font-family: "Sue Ellen Francisco",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.container-info-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 20%;
    background-color: #FD5E9A;
    border: 2px solid #17CAF1;
    border-radius: 30px;
    padding-bottom: 2%;
}
.perros {
    width: 68%;
    display: flex;
    z-index: 21;
    margin-top: -11%;
}
.sub-container {
    background-color: #ffff;
    border-radius: 20px;
    margin: 2% 3%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -0.5%;
}
.title-info-tienda, .text-tienda {
    font-family: 'Roboto', sans-serif;
    color: #013220;
}
.title-info-tienda {
    width: 75%;
    text-align: center;
    font-size: 30px;
}
.text-tienda {
    margin: 4% 0;
    font-size: 27px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}
.brands {
    display: flex;
}
.brand {
    width: 50%;
}

.tienda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px dashed #0FCDE7;
    margin: 2% 10%;
    border-radius: 30px;
    background-color: #fff;
    align-items: center;
}
.ribbon-tienda {
    margin-top: 5%;
    width: 40%;
}
.cuadrado-tienda {
    background-color: #F1337B;
    border: 1px solid rgba(243, 185, 165, 0.5);
    padding: 0% 2%;
    margin: 2% 0;
    border-radius: 20px;
}
.nav-tienda {
    display: flex;
    justify-content: space-around;
    position: unset;
    z-index: 1;
}
.line {
    border: #EA0E0E dotted 1px;
    width: 80%;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto-img {
    width: 70%;
}
.producto {
    border: solid 2px rgba(43, 31, 31, 0.5);
    margin: 7% 1%;
    width: 27%;
    height: 54vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.producto > h2 {
    background-color: #0449B1;
    border: 2px #0E51B7 solid;
    border-radius: 5px;
    color: #fff;
    width: 102%;
    font-family: "Sue Ellen Francisco", sans-serif;
    text-align: center;
    font-weight: 400;
    z-index: 22;
    box-sizing: inherit;
    font-size: 34px;
    margin-top: -10%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.agregar-carrito {
    font-family: 'League Gothic', sans-serif;
    background-color: #13B6A2;
    color: #fff;
    width: 60%;
    padding: 5%;
    border-radius: 15px;
    font-size: 35px;
    position: relative;
    top: 20%;
}
.cantidad, .vermas, .price {
    font-family: "Sue Ellen Francisco",sans-serif;
    color: #1057C1;
}
.vermas {
    text-decoration: underline;
    position: relative;
    left: 3%;
    cursor: pointer;
}
.price {
    font-size: 40px;
}
.corazon {
    background-color: #fff;
    border: 1px solid #1057C1;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    left: 48%;
    top: 6%;
}
.cositas {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    top: 12%;
}
.cantidad {
    border: 1px solid #1057C1;
    border-radius: 15px;
    padding: 1%;
    width: 2.5vw;
    height:4.5vh ;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.unidades {
    position: relative;
    top: -119%;
    left: 13%;
    font-size: 23px;
}
.flechas {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    left: 12%;
    top: 4%;
}
.flechaArriba {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #1057C1; 
    cursor: pointer;
}
.flechaAbajo {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid #1057C1;
    cursor: pointer;
}
.producto-humedo {
    width: 45%;
    margin: 1.5%;
}
.producto-cabano {
    width: 60%;
    margin: 1%;
}
.producto-galletas {
    width: 79%;
}
.producto-bebida {
    width: 79%;
}
.producto-trufa {
    width: 77%;
    margin: 1%;
}
.masVendidos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
}
.ribbon-verde {
    width: 60%;
}
.mas {
    height: 50vh;
    width: 20%;
}
.descripcion {
    font-family: 'Roboto';
    margin: 3%;
    font-weight: 300;
    font-size: 20px;
}
.p1 {
    position: relative;
    top: -7%;
}
.producto-huesitos {
    width: 46%;
}
.p2 {
    position: relative;
    top: -7%;
}
.p3 {
    position: relative;
    top: -5%;
}
.vendidos {
    color: #083271;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 15%;
}
.jabon {
    width: 50%;
}
.cuore {
    position: relative;
    top: -24%;
}
.dos {
    margin-top: 25%;
}
.hierba {
    margin: 0 10%;
}
.nombre-producto-promo {
    background-color: #038a3b;
    border: 2px #0eb725 solid;
    border-radius: 5px;
    color: #fff;
    width: 102%;
    font-family: "Sue Ellen Francisco", sans-serif;
    text-align: center;
    font-weight: 400;
    z-index: 22;
    box-sizing: inherit;
    font-size: 30px;
    margin-top: 24%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two {
        top: -6%;
    }
.final {
    top: -7%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .switcher_dog_cat {
        margin: 5% 0%;

    }
    .switch {
        width: 20%;
        height: 5vh;
    }
    .tienda {
        margin: 2% 2%;
    }
    .producto > h2 {
        width: 103%;
        margin-top: -1%;
        font-size: 20px;
    }
    .producto {
        height: 27vh;
        border-radius: 17px;
    }
    .vermas {
        font-size: 20px;
    }
    .price {
        font-size: 25px;
        top: 80%;
        position: relative;
    }
    .unidades {
        top: 104%;
        left: 81%;
    }
    .cantidad {
        border: 1px solid #1057C1;
        border-radius: 15px;
        width: 3vw;
        height: 3.3vh;
        display: flex;
        justify-content: center;
        margin-top: 14%;
    }
    .corazon {
        left: 45%;
        top: -2%;
        width: 45px;
        height: 60px;
    }
    .agregar-carrito {
        font-size: 22px;
        position: relative;
        top: 13%;
    }
    .mas {
        width: 31%;
        height: 43vh;
    }
    #cuore, #cuore2, #cuore1 {
        top: -13%;
    }
    .hierba {
        margin: 0 0%;
    }
    .masVendidos {
        margin: 0 2%;
    }
    .littleCircle {
        width: 25%;
        height: 77%;
        position: relative;
        top: 10%;
    }
    .productos {
        gap: 5%;
    }

    #p2, #p3, #p1  {
        margin-top: 6%;
    }
    .ribbon-verde {
        margin-top: 5%;
    }
    .producto-img {
        margin-top: 15%;
    }
    .final {
        top: 4%;
    }
}
@media (min-width: 393px) and (max-width: 769px)  {
    .switcher_dog_cat {
        margin: 22% 0% 10%;
        height: 5vh;
    }
    .switch {
        width: 30%;
        height: 5vh;
    }
    .dogs {
        width: 17%;
        font-size: 22px;
        text-align: center;
    }
    .cats {
        width: 17%;
        font-size: 22px;
        text-align: center;
    }
    .container-info-seccion {
        margin: 2% 0%;
    }
    .tienda {
        margin: 6% 0%;
    }
    .ribbon-tienda {
        width: 80%;
    }
    a {
        font-size: 17px;
    }
    .title-info-tienda {
        width: 100%;
        font-size: 26px;
    }
    .text-tienda {
        font-size: 18px;
    }
    .brand {
        width: 90%;
    }
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 18%;
    }
    .producto {
        width: 90%; 
        margin-bottom: 20px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc; /* Opcional, para delimitar los productos */
        border-radius: 15px;
        margin-top: 16%;
        height: 50vh;
    }
    .producto > h2 {
        width: 111%;
        margin-top: -7%;
        font-size: 25px;
    }
    .cositas {
        width: 77%;
        position: relative;
        top: 7%;
        left: 5%;
    }
    .cantidad {
        width: 9.5vw;
        height: 5.5vh;
        margin-top: 7%;
        position: relative;
        right: 14%;
    }
    .unidades {
        top: -99%;
        left: 34%;
        font-size: 23px;
    }
    .vermas {
        font-size: 23px;
        position: relative;
    }
    .agregar-carrito {
        width: 50%;
        border-radius: 12px;
        font-size: 27px;
        top: 15%;
    }
    .cuore {
        position: relative;
        top: 0%;
        width: 81%;
    }
    .producto img {
        margin-top: 5%;
    }
    .ribbon-verde {
        width: 100%;
        margin-top: 15%;
    }
    .nombre-producto-promo {
        width: 111%;
        font-size: 25px;
        margin-top: 35%;
        height: 5vh;
    }
    .mas {
        height: 64vh;
    }
    .cositas {
        top: -6%;
    }
    .final {
        top: -7%;
    }
    .f {
        top: -19%;
    }
    .hierba {
        margin: 0px 0%;
        margin-top: 5%;
    }
}
